{% extends "app/base.html" %}
{% load static %}
{% block content %}

<div class="full" style='background: url("{{detail_data.image.url}}") center / cover;'>
    <h1>{{detail_data.title}}</h1>
</div>

<div>原因</div>
<p>{{detail_data.cause}}</p>
<div>対策</div>
<p>{{detail_data.improve}}</p>
<div>動画</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{detail_data.video}}" allowfullscreen></iframe>
</div>
<div>おすすめの病院「全国版」</div>
<div>「首」に関する掲示板</div>

{% endblock %}