{% extends "app/base.html" %}
{% load static %}
{% block content %}

<div class="full" style='background: url("{% static 'img/top.jpg' %}") center / cover;'>
    <h1>Telework Healthcare</h1>  <!-- ページのタイトル名 -->
    <h1>健康な身体で作業し続けよう！</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <img class="main_image" src="{% static 'img/main_image.png' %}">
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'neck' %}">
                <img class="parts_image" src="{% static 'img/neck.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'shoulder' %}">
                <img class="parts_image" src="{% static 'img/shoulder.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'elbow' %}">
                <img class="parts_image" src="{% static 'img/elbow.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'waist' %}">
                <img class="parts_image" src="{% static 'img/waist.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'hip' %}">
                <img class="parts_image" src="{% static 'img/hip.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'hand' %}">
                <img class="parts_image" src="{% static 'img/hand.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'knee' %}">
                <img class="parts_image" src="{% static 'img/knee.png' %}">
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'detail' 'ankle' %}">
                <img class="parts_image" src="{% static 'img/ankle.png' %}">
            </a>
        </div>
    </div>
</div>



{% endblock %}